<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %> 
<body>

    <%- include('../partials/header.ejs') %> 

    <main class="login">

        <h1>Bienvenido</h1>

        <form action="/products" method="GET">
            <div class='input'>
                <label for="name">Name</label>
                <input type="name" name="name" id="name" placeholder="name">
                <button type="submit">Ingresar</button>
            </div>

        </form>

    </main>

</body>
</html>